@font-face {
  font-family: "raleway";
  src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}
body {
  margin: 0%;
  border: 0%;
  background-color: black;
  color: white;
  text-align: center;
  font-family: raleway;
}
header h1 {
  font-size: 3em;
}
header img {
  width: 100%;
}
.order {
  display: inline-block;
  width: 30%;
  text-justify: left;
  margin: 20px;
  vertical-align: middle;
}
.order p {
  text-align: left;
}
.order img {
  width: auto;
}
.contenedor {
  background-color: #1e1a13;
  align-items: center;
  padding: 1em;
}
.contenedor h2 {
  font-size: 3em;
}
.contenedor p {
  margin: 2em;
  padding: 1em;
}
.caracteristicas {
  display: inline-block;
  width: 20%;
  font-size: 1.5em;
  font-style: raleway;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.gallery img {
  width: 90%;
  margin: 1em 2em 1em 2em;
  display: inline-block;
}
.gallery img:hover {
  transform: scale(1.5);
}
footer {
  text-align: center;
  background-color: #1e1a13;
  border: 3em;
  padding: 3em;
  margin: 0%;
  display: block;
}
footer a {
  color: #f7f9f9;
  text-decoration: none;
}
footer a:hover {
  color: goldenrod;
}

.btn-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #E91E63; /* Color de fondo */
	padding: 18px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante:hover {
	background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
} 